%header
  %h1= linkedin.full_name
  %h2= linkedin.headline

%section#profile
  %h3 Profile
  %p= linkedin.summary

%section#skills
  %h3 Skills
  %ul
    = list_of linkedin.skills do |skill|
      = skill

%section#experience
  %h3 Experience
  %ul
    = list_of linkedin.jobs do |job|
      %span.duration= job.duration
      %h4= job.title
      %ul
        %li= link_to job.company_name, job.company_url, :target => '_blank'
        %li= job.location
        %li= job.company_details
        %li= job.description

%section#education
  %h3 Education
  %ul
    = list_of linkedin.education do |education|
      %span.duration= education.duration
      %h4= education.summary
      %ul
        %li= education.details
