%h1= linkedin.full_name
%h2= linkedin.headline

%p= linkedin.summary

%section
  %h3 Skills
  %ul
    = list_of linkedin.skills do |skill|
      = skill

%section
  %h3 Experience
  %ul
    = list_of linkedin.jobs do |job|
      %ul
        %li= job.title
        %li= job.company_name
        / %li= job.company_url
        / %li= job.company_details
        %li= job.duration
        %li= job.location
        %li= job.description

%section
  %h3 Education
  %ul
    = list_of linkedin.education do |education|
      %ul
        %li= education.summary
        %li= education.details
        %li= education.duration
